legend {
    color: darkgreen;
    font-size: 50px;
  }

  label {
      font-size: 1.6em;
      font: bold;
  }
  #photo {
color: darkgreen;
font: bold;
  }

  body {
      background-color: gainsboro;
  }
  input, select {
      background-color: gainsboro;
  }